---
layout: default
---
<div class="m-0 h-screen bg-pink-100">

    <div class="bg-blue-400 flex flex-col flex-nowrap justify-center mx-10">

        <div class="bg-blue-200 flex flex-row flex-nowrap justify-center m-20">
            <h1 class="bg-yellow-100 font-semibold m-10 text-2xl">Welcome to the Book Club des Gentils Garçons</h1>
        </div>
        <div class="">
            {% for post in site.posts %}
                {% include book-review.html %}
            {% endfor %}
        </div>
    </div>
</div>