<div
    class="flex flex-col sm:flex-row bg-gray-200 flex-row items-center border-2 border-gray-50 justify-around sm:justify-center">
    <div class="sm:flex sm:flex-none sm:w-40"><img class="h-40 p-2" src="{{ post.image }}" alt=""></div>
    <div class="hidden sm:flex sm:flex-1 sm:text-center">{{ post.book-number }}</div>
    <div class="justify-start sm:flex-1 sm:flex-column">
        <div class="flex-1">{{ post.title }}</div>
        <div class="flex-1">{{ post.author }}</div>
        <div class="flex-1">{{ post.publication-year }}</div>
    </div>
    <div class="sm:flex-1 sm:flex-column">
        <div class="flex-1">Anton: {{post.anton-stars}}</div>
        <div class="flex-1">Wilhelm: {{post.wilhelm-stars}}</div>
        <div class="flex-1">Etienne: {{post.etienne-stars}}</div>
    </div>
</div>